:host,
:root {
  /**
    Generated White mode
  */
  --color-primary-100: #f2faff;
  --color-primary-200: #ccebff;
  --color-primary-300: #a6dbff;
  --color-primary-400: #80ccff;
  --color-primary-500: #0099ff;
  --color-primary-600: #007acc;
  --color-primary-700: #005c99;
  --color-primary-800: #003d66;
  --color-primary-900: #001f33;
  --color-secondary-100: #fafcfd;
  --color-secondary-200: #eaf4f6;
  --color-secondary-300: #dbebef;
  --color-secondary-400: #cbe3e8;
  --color-secondary-500: #97c6d1;
  --color-secondary-600: #799ea7;
  --color-secondary-700: #5b777d;
  --color-secondary-800: #3c4f54;
  --color-secondary-900: #1e282a;
  --color-gray-100: #fcfbfb;
  --color-gray-200: #f1f1f0;
  --color-gray-300: #e7e6e4;
  --color-gray-400: #dddcd9;
  --color-gray-500: #bbb8b2;
  --color-gray-600: #96938e;
  --color-gray-700: #706e6b;
  --color-gray-800: #4b4a47;
  --color-gray-900: #252524;
  --color-success-100: #f6fbf6;
  --color-success-200: #dbefdc;
  --color-success-300: #c0e3c2;
  --color-success-400: #a6d7a8;
  --color-success-500: #4caf50;
  --color-success-600: #3d8c40;
  --color-success-700: #2e6930;
  --color-success-800: #1e4620;
  --color-success-900: #0f2310;
  --color-danger-100: #fdf5f7;
  --color-danger-200: #f9d8de;
  --color-danger-300: #f4bbc6;
  --color-danger-400: #ef9ead;
  --color-danger-500: #df3d5b;
  --color-danger-600: #b23149;
  --color-danger-700: #862537;
  --color-danger-800: #591824;
  --color-danger-900: #2d0c12;
  --color-warning-100: #fff9f2;
  --color-warning-200: #fee8cc;
  --color-warning-300: #fed7a6;
  --color-warning-400: #fdc680;
  --color-warning-500: #fb8c00;
  --color-warning-600: #c97000;
  --color-warning-700: #975400;
  --color-warning-800: #643800;
  --color-warning-900: #321c00;
  --color-info-100: #f4fafe;
  --color-info-200: #d3eafd;
  --color-info-300: #b1dafb;
  --color-info-400: #90cbf9;
  --color-info-500: #2196f3;
  --color-info-600: #1a78c2;
  --color-info-700: #145a92;
  --color-info-800: #0d3c61;
  --color-info-900: #071e31;
  --color-primary-alpha-10: rgba(0, 153, 255, 0.1);
  --color-primary-alpha-20: rgba(0, 153, 255, 0.2);
  --color-primary-alpha-30: rgba(0, 153, 255, 0.3);
  --color-primary-alpha-40: rgba(0, 153, 255, 0.4);
  --color-primary-alpha-50: rgba(0, 153, 255, 0.5);
  --color-primary-alpha-60: rgba(0, 153, 255, 0.6);
  --color-primary-alpha-70: rgba(0, 153, 255, 0.7);
  --color-primary-alpha-80: rgba(0, 153, 255, 0.8);
  --color-primary-alpha-90: rgba(0, 153, 255, 0.9);
  --color-secondary-alpha-10: rgba(151, 198, 209, 0.1);
  --color-secondary-alpha-20: rgba(151, 198, 209, 0.2);
  --color-secondary-alpha-30: rgba(151, 198, 209, 0.3);
  --color-secondary-alpha-40: rgba(151, 198, 209, 0.4);
  --color-secondary-alpha-50: rgba(151, 198, 209, 0.5);
  --color-secondary-alpha-60: rgba(151, 198, 209, 0.6);
  --color-secondary-alpha-70: rgba(151, 198, 209, 0.7);
  --color-secondary-alpha-80: rgba(151, 198, 209, 0.8);
  --color-secondary-alpha-90: rgba(151, 198, 209, 0.9);
  --color-gray-alpha-10: rgba(187, 184, 178, 0.1);
  --color-gray-alpha-20: rgba(187, 184, 178, 0.2);
  --color-gray-alpha-30: rgba(187, 184, 178, 0.3);
  --color-gray-alpha-40: rgba(187, 184, 178, 0.4);
  --color-gray-alpha-50: rgba(187, 184, 178, 0.5);
  --color-gray-alpha-60: rgba(187, 184, 178, 0.6);
  --color-gray-alpha-70: rgba(187, 184, 178, 0.7);
  --color-gray-alpha-80: rgba(187, 184, 178, 0.8);
  --color-gray-alpha-90: rgba(187, 184, 178, 0.9);
  --color-success-alpha-10: rgba(76, 175, 80, 0.1);
  --color-success-alpha-20: rgba(76, 175, 80, 0.2);
  --color-success-alpha-30: rgba(76, 175, 80, 0.3);
  --color-success-alpha-40: rgba(76, 175, 80, 0.4);
  --color-success-alpha-50: rgba(76, 175, 80, 0.5);
  --color-success-alpha-60: rgba(76, 175, 80, 0.6);
  --color-success-alpha-70: rgba(76, 175, 80, 0.7);
  --color-success-alpha-80: rgba(76, 175, 80, 0.8);
  --color-success-alpha-90: rgba(76, 175, 80, 0.9);
  --color-danger-alpha-10: rgba(223, 61, 91, 0.1);
  --color-danger-alpha-20: rgba(223, 61, 91, 0.2);
  --color-danger-alpha-30: rgba(223, 61, 91, 0.3);
  --color-danger-alpha-40: rgba(223, 61, 91, 0.4);
  --color-danger-alpha-50: rgba(223, 61, 91, 0.5);
  --color-danger-alpha-60: rgba(223, 61, 91, 0.6);
  --color-danger-alpha-70: rgba(223, 61, 91, 0.7);
  --color-danger-alpha-80: rgba(223, 61, 91, 0.8);
  --color-danger-alpha-90: rgba(223, 61, 91, 0.9);
  --color-warning-alpha-10: rgba(251, 140, 0, 0.1);
  --color-warning-alpha-20: rgba(251, 140, 0, 0.2);
  --color-warning-alpha-30: rgba(251, 140, 0, 0.3);
  --color-warning-alpha-40: rgba(251, 140, 0, 0.4);
  --color-warning-alpha-50: rgba(251, 140, 0, 0.5);
  --color-warning-alpha-60: rgba(251, 140, 0, 0.6);
  --color-warning-alpha-70: rgba(251, 140, 0, 0.7);
  --color-warning-alpha-80: rgba(251, 140, 0, 0.8);
  --color-warning-alpha-90: rgba(251, 140, 0, 0.9);
  --color-info-alpha-10: rgba(33, 150, 243, 0.1);
  --color-info-alpha-20: rgba(33, 150, 243, 0.2);
  --color-info-alpha-30: rgba(33, 150, 243, 0.3);
  --color-info-alpha-40: rgba(33, 150, 243, 0.4);
  --color-info-alpha-50: rgba(33, 150, 243, 0.5);
  --color-info-alpha-60: rgba(33, 150, 243, 0.6);
  --color-info-alpha-70: rgba(33, 150, 243, 0.7);
  --color-info-alpha-80: rgba(33, 150, 243, 0.8);
  --color-info-alpha-90: rgba(33, 150, 243, 0.9);
  /**
  	Others
  	var\(--(?!fs-color|border|size)(.+)
  */
  /**
    Shadow
    https://shadows.brumm.af/
  */
  --wme-shadow: 0px 1.2px 5.3px rgba(0, 0, 0, 0.061),
    0px 4px 17.9px rgba(0, 0, 0, 0.089), 0px 18px 80px rgba(0, 0, 0, 0.15);
  --alarming: #df3d5b;
  --alarming_variant: #e2506b;
  --always_white: #fff;
  --always_black: #000;
  --always_dark: var(--color-secondary-900);
  --always_dark_background_default: var(--color-gray-900);
  --always_dark_background_variant: var(--always_black);
  --always_dark_content_default: var(--color-gray-100);
  --always_dark_content_p1: var(--color-gray-400);
  --always_dark_content_p2: var(--color-gray-500);
  --always_dark_inactive: var(--color-gray-600);
  --always_dark_surface_default: var(--color-gray-800);
  --border-default: var(--color-primary-200);
  --background_default: var(--always_white);
  --background_modal: rgba(0, 15, 26, 0.6);
  --background_table_overlay: var(--color-gray-alpha-60);
  --background_variant: var(--color-primary-200);
  --brand_carpool: #1ee592;
  --brand_waze: #33ccff;
  --cautious: #ffc400;
  --cautious_variant: #e37400;
  --content_default: var(--color-primary-900);
  --content_p1: var(--color-gray-800);
  --content_p2: var(--color-gray-700);
  --content_p3: var(--color-gray-600);
  --disabled_text: #bbb8b2;
  --hairline: var(--color-gray-300);
  --hairline_strong: var(--color-gray-600);
  --handle: var(--color-primary-200);
  --hint_text: var(--color-gray-800);
  --ink_elevation: var(--always_white);
  --ink_on_primary: var(--color-primary-900);
  --ink_on_primary_focused: rgba(0, 15, 26, 0.15);
  --ink_on_primary_hovered: rgba(0, 15, 26, 0.05);
  --ink_on_primary_pressed: rgba(0, 15, 26, 0.1);
  --leading_icon: #97c6d1;
  --on_primary: var(--always_white);
  --primary: #0099ff;
  --primary_variant: var(--color-primary-700);
  --promotion_variant: #842feb;
  --report_chat: #1ee592;
  --report_closure: #feb87f;
  --report_crash: #d5d7db;
  --report_gas: #1bab50;
  --report_hazard: #ffc400;
  --report_jam: #ff5252;
  --report_place: #c088ff;
  --report_police: #1ab3ff;
  --safe: #4caf50;
  --safe_variant: var(--color-success-700);
  --separator_default: var(--color-secondary-200);
  --shadow_default: var(--color-gray-800);
  --surface_alt: var(--color-primary-100);
  --surface_default: var(--color-gray-100);
  --surface_variant: var(--color-gray-200);
  --surface_variant_blue: #e6f5ff;
  --surface_variant_green: #edf7ee;
  --surface_variant_yellow: #fff9e6;
  --surface_variant_orange: #fff4e6;
  --surface_variant_red: #fcecef;
  --surface_variant_purple: #f3eafd;
  color: #000;
  color-scheme: light;
}

.dark-mode {
  /**
    	Genrated Dark mode
		*/
  --color-primary-100: #00080d;
  --color-primary-200: #001f33;
  --color-primary-300: #003659;
  --color-primary-400: #004d80;
  --color-primary-500: #0099ff;
  --color-primary-600: #33adff;
  --color-primary-700: #66c2ff;
  --color-primary-800: #99d6ff;
  --color-primary-900: #ccebff;
  --color-secondary-100: #030404;
  --color-secondary-200: #0b0e0f;
  --color-secondary-300: #13191a;
  --color-secondary-400: #1c2325;
  --color-secondary-500: #374649;
  --color-secondary-600: #5f6b6d;
  --color-secondary-700: #879092;
  --color-secondary-800: #afb5b6;
  --color-secondary-900: #d7dadb;
  --color-gray-100: #070606;
  --color-gray-200: #1a1a18;
  --color-gray-300: #2e2d2b;
  --color-gray-400: #42403d;
  --color-gray-500: #84807a;
  --color-gray-600: #9d9995;
  --color-gray-700: #b5b3af;
  --color-gray-800: #ceccca;
  --color-gray-900: #e6e6e4;
  --color-success-100: #040904;
  --color-success-200: #0f2310;
  --color-success-300: #1b3d1c;
  --color-success-400: #265828;
  --color-success-500: #4caf50;
  --color-success-600: #70bf73;
  --color-success-700: #94cf96;
  --color-success-800: #b7dfb9;
  --color-success-900: #dbefdc;
  --color-danger-100: #0b0305;
  --color-danger-200: #2d0c12;
  --color-danger-300: #4e1520;
  --color-danger-400: #701f2e;
  --color-danger-500: #df3d5b;
  --color-danger-600: #e5647c;
  --color-danger-700: #ec8b9d;
  --color-danger-800: #f2b1bd;
  --color-danger-900: #f9d8de;
  --color-warning-100: #0d0700;
  --color-warning-200: #321c00;
  --color-warning-300: #583100;
  --color-warning-400: #7e4600;
  --color-warning-500: #fb8c00;
  --color-warning-600: #fca333;
  --color-warning-700: #fdba66;
  --color-warning-800: #fdd199;
  --color-warning-900: #fee8cc;
  --color-info-100: #02080c;
  --color-info-200: #071e31;
  --color-info-300: #0c3555;
  --color-info-400: #114b7a;
  --color-info-500: #2196f3;
  --color-info-600: #4dabf5;
  --color-info-700: #7ac0f8;
  --color-info-800: #a6d5fa;
  --color-info-900: #d3eafd;
  --color-secondary-alpha-10: rgba(55, 70, 73, 0.1);
  --color-secondary-alpha-20: rgba(55, 70, 73, 0.2);
  --color-secondary-alpha-30: rgba(55, 70, 73, 0.3);
  --color-secondary-alpha-40: rgba(55, 70, 73, 0.4);
  --color-secondary-alpha-50: rgba(55, 70, 73, 0.5);
  --color-secondary-alpha-60: rgba(55, 70, 73, 0.6);
  --color-secondary-alpha-70: rgba(55, 70, 73, 0.7);
  --color-secondary-alpha-80: rgba(55, 70, 73, 0.8);
  --color-secondary-alpha-90: rgba(55, 70, 73, 0.9);
  --color-gray-alpha-10: rgba(132, 128, 122, 0.1);
  --color-gray-alpha-20: rgba(132, 128, 122, 0.2);
  --color-gray-alpha-30: rgba(132, 128, 122, 0.3);
  --color-gray-alpha-40: rgba(132, 128, 122, 0.4);
  --color-gray-alpha-50: rgba(132, 128, 122, 0.5);
  --color-gray-alpha-60: rgba(132, 128, 122, 0.6);
  --color-gray-alpha-70: rgba(132, 128, 122, 0.7);
  --color-gray-alpha-80: rgba(132, 128, 122, 0.8);
  --color-gray-alpha-90: rgba(132, 128, 122, 0.9);
  --color-background: var(--color-primary-100);
  --color-white: #000000;
  --color-black: #ffffff;
  --wme-shadow: 0px 1.2px 5.3px rgba(0, 0, 0, 0.2),
    0px 4px 17.9px rgba(0, 0, 0, 0.3), 0px 18px 80px rgba(0, 0, 0, 0.4);
  color: white;
  color-scheme: dark;
}
