:root {
    /**
          Generated
      */
      --wme-color-primary-100: #f3fcff;
      --wme-color-primary-200: #cdf4fd;
      --wme-color-primary-300: #a8ecfc;
      --wme-color-primary-400: #82e4fb;
      --wme-color-primary-500: #05C8F7;
      --wme-color-primary-600: #04a0c6;
      --wme-color-primary-700: #037894;
      --wme-color-primary-800: #025063;
      --wme-color-primary-900: #012831;
      --wme-color-secondary-100: #fafcfd;
      --wme-color-secondary-200: #eaf4f6;
      --wme-color-secondary-300: #dbebef;
      --wme-color-secondary-400: #cbe3e8;
      --wme-color-secondary-500: #97C6D1;
      --wme-color-secondary-600: #799ea7;
      --wme-color-secondary-700: #5b777d;
      --wme-color-secondary-800: #3c4f54;
      --wme-color-secondary-900: #1e282a;
      --wme-color-gray-100: #fcfbfb;
      --wme-color-gray-200: #f1f1f0;
      --wme-color-gray-300: #e7e6e4;
      --wme-color-gray-400: #dddcd9;
      --wme-color-gray-500: #BBB8B2;
      --wme-color-gray-600: #96938e;
      --wme-color-gray-700: #706e6b;
      --wme-color-gray-800: #4b4a47;
      --wme-color-gray-900: #252524;
      --wme-color-success-100: #f6fbf6;
      --wme-color-success-200: #dbefdc;
      --wme-color-success-300: #c0e3c2;
      --wme-color-success-400: #a6d7a8;
      --wme-color-success-500: #4CAF50;
      --wme-color-success-600: #3d8c40;
      --wme-color-success-700: #2e6930;
      --wme-color-success-800: #1e4620;
      --wme-color-success-900: #0f2310;
      --wme-color-danger-100: #fdf7f8;
      --wme-color-danger-200: #f5e0e4;
      --wme-color-danger-300: #eec9d0;
      --wme-color-danger-400: #e7b3bc;
      --wme-color-danger-500: #CF6679;
      --wme-color-danger-600: #a65261;
      --wme-color-danger-700: #7c3d49;
      --wme-color-danger-800: #532930;
      --wme-color-danger-900: #291418;
      --wme-color-warning-100: #fff9f2;
      --wme-color-warning-200: #fee8cc;
      --wme-color-warning-300: #fed7a6;
      --wme-color-warning-400: #fdc680;
      --wme-color-warning-500: #FB8C00;
      --wme-color-warning-600: #c97000;
      --wme-color-warning-700: #975400;
      --wme-color-warning-800: #643800;
      --wme-color-warning-900: #321c00;
      --wme-color-info-100: #f4fafe;
      --wme-color-info-200: #d3eafd;
      --wme-color-info-300: #b1dafb;
      --wme-color-info-400: #90cbf9;
      --wme-color-info-500: #2196F3;
      --wme-color-info-600: #1a78c2;
      --wme-color-info-700: #145a92;
      --wme-color-info-800: #0d3c61;
      --wme-color-info-900: #071e31;
      --wme-color-primary-alpha-10: rgba(5, 200, 247, 0.1);
      --wme-color-primary-alpha-20: rgba(5, 200, 247, 0.2);
      --wme-color-primary-alpha-30: rgba(5, 200, 247, 0.3);
      --wme-color-primary-alpha-40: rgba(5, 200, 247, 0.4);
      --wme-color-primary-alpha-50: rgba(5, 200, 247, 0.5);
      --wme-color-primary-alpha-60: rgba(5, 200, 247, 0.6);
      --wme-color-primary-alpha-70: rgba(5, 200, 247, 0.7);
      --wme-color-primary-alpha-80: rgba(5, 200, 247, 0.8);
      --wme-color-primary-alpha-90: rgba(5, 200, 247, 0.9);
      --wme-color-secondary-alpha-10: rgba(151, 198, 209, 0.1);
      --wme-color-secondary-alpha-20: rgba(151, 198, 209, 0.2);
      --wme-color-secondary-alpha-30: rgba(151, 198, 209, 0.3);
      --wme-color-secondary-alpha-40: rgba(151, 198, 209, 0.4);
      --wme-color-secondary-alpha-50: rgba(151, 198, 209, 0.5);
      --wme-color-secondary-alpha-60: rgba(151, 198, 209, 0.6);
      --wme-color-secondary-alpha-70: rgba(151, 198, 209, 0.7);
      --wme-color-secondary-alpha-80: rgba(151, 198, 209, 0.8);
      --wme-color-secondary-alpha-90: rgba(151, 198, 209, 0.9);
      --wme-color-gray-alpha-10: rgba(187, 184, 178, 0.1);
      --wme-color-gray-alpha-20: rgba(187, 184, 178, 0.2);
      --wme-color-gray-alpha-30: rgba(187, 184, 178, 0.3);
      --wme-color-gray-alpha-40: rgba(187, 184, 178, 0.4);
      --wme-color-gray-alpha-50: rgba(187, 184, 178, 0.5);
      --wme-color-gray-alpha-60: rgba(187, 184, 178, 0.6);
      --wme-color-gray-alpha-70: rgba(187, 184, 178, 0.7);
      --wme-color-gray-alpha-80: rgba(187, 184, 178, 0.8);
      --wme-color-gray-alpha-90: rgba(187, 184, 178, 0.9);
      --wme-color-success-alpha-10: rgba(76, 175, 80, 0.1);
      --wme-color-success-alpha-20: rgba(76, 175, 80, 0.2);
      --wme-color-success-alpha-30: rgba(76, 175, 80, 0.3);
      --wme-color-success-alpha-40: rgba(76, 175, 80, 0.4);
      --wme-color-success-alpha-50: rgba(76, 175, 80, 0.5);
      --wme-color-success-alpha-60: rgba(76, 175, 80, 0.6);
      --wme-color-success-alpha-70: rgba(76, 175, 80, 0.7);
      --wme-color-success-alpha-80: rgba(76, 175, 80, 0.8);
      --wme-color-success-alpha-90: rgba(76, 175, 80, 0.9);
      --wme-color-danger-alpha-10: rgba(207, 102, 121, 0.1);
      --wme-color-danger-alpha-20: rgba(207, 102, 121, 0.2);
      --wme-color-danger-alpha-30: rgba(207, 102, 121, 0.3);
      --wme-color-danger-alpha-40: rgba(207, 102, 121, 0.4);
      --wme-color-danger-alpha-50: rgba(207, 102, 121, 0.5);
      --wme-color-danger-alpha-60: rgba(207, 102, 121, 0.6);
      --wme-color-danger-alpha-70: rgba(207, 102, 121, 0.7);
      --wme-color-danger-alpha-80: rgba(207, 102, 121, 0.8);
      --wme-color-danger-alpha-90: rgba(207, 102, 121, 0.9);
      --wme-color-warning-alpha-10: rgba(251, 140, 0, 0.1);
      --wme-color-warning-alpha-20: rgba(251, 140, 0, 0.2);
      --wme-color-warning-alpha-30: rgba(251, 140, 0, 0.3);
      --wme-color-warning-alpha-40: rgba(251, 140, 0, 0.4);
      --wme-color-warning-alpha-50: rgba(251, 140, 0, 0.5);
      --wme-color-warning-alpha-60: rgba(251, 140, 0, 0.6);
      --wme-color-warning-alpha-70: rgba(251, 140, 0, 0.7);
      --wme-color-warning-alpha-80: rgba(251, 140, 0, 0.8);
      --wme-color-warning-alpha-90: rgba(251, 140, 0, 0.9);
      --wme-color-info-alpha-10: rgba(33, 150, 243, 0.1);
      --wme-color-info-alpha-20: rgba(33, 150, 243, 0.2);
      --wme-color-info-alpha-30: rgba(33, 150, 243, 0.3);
      --wme-color-info-alpha-40: rgba(33, 150, 243, 0.4);
      --wme-color-info-alpha-50: rgba(33, 150, 243, 0.5);
      --wme-color-info-alpha-60: rgba(33, 150, 243, 0.6);
      --wme-color-info-alpha-70: rgba(33, 150, 243, 0.7);
      --wme-color-info-alpha-80: rgba(33, 150, 243, 0.8);
      --wme-color-info-alpha-90: rgba(33, 150, 243, 0.9);
    /**
          Others
          var\(--(?!fs-color|border|size)(.+)
      */
      --wme-color-background: #f6ffff;
      --wme-color-text: var(--wme-color-gray-700);
      --wme-color-white: white;
      --wme-color-black: black;
      --wme-color-light: var(--wme-color-gray-100);
      --wme-color-dark: var(--wme-color-gray-600);
      --wme-color-transparent: transparent;
      --wme-border-default: var(--wme-color-primary-200);
    /**
          Shadow
          https://shadows.brumm.af/
      */
      --wme-shadow: 0px 1.2px 5.3px rgba(0, 0, 0, 0.061), 0px 4px 17.9px rgba(0, 0, 0, 0.089), 0px 18px 80px rgba(0, 0, 0, 0.15);
  }
  
  .dark-mode {
      --wme-color-primary-100: #000a0c;
      --wme-color-primary-200: #012831;
      --wme-color-primary-300: #024656;
      --wme-color-primary-400: #03647c;
      --wme-color-primary-500: #05C8F7;
      --wme-color-primary-600: #37d3f9;
      --wme-color-primary-700: #69defa;
      --wme-color-primary-800: #9be9fc;
      --wme-color-primary-900: #cdf4fd;
      --wme-color-secondary-100: #080a0a;
      --wme-color-secondary-200: #1e282a;
      --wme-color-secondary-300: #354549;
      --wme-color-secondary-400: #4c6369;
      --wme-color-secondary-500: #97C6D1;
      --wme-color-secondary-600: #acd1da;
      --wme-color-secondary-700: #c1dde3;
      --wme-color-secondary-800: #d5e8ed;
      --wme-color-secondary-900: #eaf4f6;
      --wme-color-gray-100: #090909;
      --wme-color-gray-200: #252524;
      --wme-color-gray-300: #41403e;
      --wme-color-gray-400: #5e5c59;
      --wme-color-gray-500: #BBB8B2;
      --wme-color-gray-600: #c9c6c1;
      --wme-color-gray-700: #d6d4d1;
      --wme-color-gray-800: #e4e3e0;
      --wme-color-gray-900: #f1f1f0;
      --wme-color-success-100: #040904;
      --wme-color-success-200: #0f2310;
      --wme-color-success-300: #1b3d1c;
      --wme-color-success-400: #265828;
      --wme-color-success-500: #4CAF50;
      --wme-color-success-600: #70bf73;
      --wme-color-success-700: #94cf96;
      --wme-color-success-800: #b7dfb9;
      --wme-color-success-900: #dbefdc;
      --wme-color-danger-100: #0a0506;
      --wme-color-danger-200: #291418;
      --wme-color-danger-300: #48242a;
      --wme-color-danger-400: #68333d;
      --wme-color-danger-500: #CF6679;
      --wme-color-danger-600: #d98594;
      --wme-color-danger-700: #e2a3af;
      --wme-color-danger-800: #ecc2c9;
      --wme-color-danger-900: #f5e0e4;
      --wme-color-warning-100: #0d0700;
      --wme-color-warning-200: #321c00;
      --wme-color-warning-300: #583100;
      --wme-color-warning-400: #7e4600;
      --wme-color-warning-500: #FB8C00;
      --wme-color-warning-600: #fca333;
      --wme-color-warning-700: #fdba66;
      --wme-color-warning-800: #fdd199;
      --wme-color-warning-900: #fee8cc;
      --wme-color-info-100: #02080c;
      --wme-color-info-200: #071e31;
      --wme-color-info-300: #0c3555;
      --wme-color-info-400: #114b7a;
      --wme-color-info-500: #2196F3;
      --wme-color-info-600: #4dabf5;
      --wme-color-info-700: #7ac0f8;
      --wme-color-info-800: #a6d5fa;
      --wme-color-info-900: #d3eafd;
      --wme-color-primary-alpha-10: rgba(5, 200, 247, 0.1);
      --wme-color-primary-alpha-20: rgba(5, 200, 247, 0.2);
      --wme-color-primary-alpha-30: rgba(5, 200, 247, 0.3);
      --wme-color-primary-alpha-40: rgba(5, 200, 247, 0.4);
      --wme-color-primary-alpha-50: rgba(5, 200, 247, 0.5);
      --wme-color-primary-alpha-60: rgba(5, 200, 247, 0.6);
      --wme-color-primary-alpha-70: rgba(5, 200, 247, 0.7);
      --wme-color-primary-alpha-80: rgba(5, 200, 247, 0.8);
      --wme-color-primary-alpha-90: rgba(5, 200, 247, 0.9);
      --wme-color-secondary-alpha-10: rgba(151, 198, 209, 0.1);
      --wme-color-secondary-alpha-20: rgba(151, 198, 209, 0.2);
      --wme-color-secondary-alpha-30: rgba(151, 198, 209, 0.3);
      --wme-color-secondary-alpha-40: rgba(151, 198, 209, 0.4);
      --wme-color-secondary-alpha-50: rgba(151, 198, 209, 0.5);
      --wme-color-secondary-alpha-60: rgba(151, 198, 209, 0.6);
      --wme-color-secondary-alpha-70: rgba(151, 198, 209, 0.7);
      --wme-color-secondary-alpha-80: rgba(151, 198, 209, 0.8);
      --wme-color-secondary-alpha-90: rgba(151, 198, 209, 0.9);
      --wme-color-gray-alpha-10: rgba(187, 184, 178, 0.1);
      --wme-color-gray-alpha-20: rgba(187, 184, 178, 0.2);
      --wme-color-gray-alpha-30: rgba(187, 184, 178, 0.3);
      --wme-color-gray-alpha-40: rgba(187, 184, 178, 0.4);
      --wme-color-gray-alpha-50: rgba(187, 184, 178, 0.5);
      --wme-color-gray-alpha-60: rgba(187, 184, 178, 0.6);
      --wme-color-gray-alpha-70: rgba(187, 184, 178, 0.7);
      --wme-color-gray-alpha-80: rgba(187, 184, 178, 0.8);
      --wme-color-gray-alpha-90: rgba(187, 184, 178, 0.9);
      --wme-color-success-alpha-10: rgba(76, 175, 80, 0.1);
      --wme-color-success-alpha-20: rgba(76, 175, 80, 0.2);
      --wme-color-success-alpha-30: rgba(76, 175, 80, 0.3);
      --wme-color-success-alpha-40: rgba(76, 175, 80, 0.4);
      --wme-color-success-alpha-50: rgba(76, 175, 80, 0.5);
      --wme-color-success-alpha-60: rgba(76, 175, 80, 0.6);
      --wme-color-success-alpha-70: rgba(76, 175, 80, 0.7);
      --wme-color-success-alpha-80: rgba(76, 175, 80, 0.8);
      --wme-color-success-alpha-90: rgba(76, 175, 80, 0.9);
      --wme-color-danger-alpha-10: rgba(207, 102, 121, 0.1);
      --wme-color-danger-alpha-20: rgba(207, 102, 121, 0.2);
      --wme-color-danger-alpha-30: rgba(207, 102, 121, 0.3);
      --wme-color-danger-alpha-40: rgba(207, 102, 121, 0.4);
      --wme-color-danger-alpha-50: rgba(207, 102, 121, 0.5);
      --wme-color-danger-alpha-60: rgba(207, 102, 121, 0.6);
      --wme-color-danger-alpha-70: rgba(207, 102, 121, 0.7);
      --wme-color-danger-alpha-80: rgba(207, 102, 121, 0.8);
      --wme-color-danger-alpha-90: rgba(207, 102, 121, 0.9);
      --wme-color-warning-alpha-10: rgba(251, 140, 0, 0.1);
      --wme-color-warning-alpha-20: rgba(251, 140, 0, 0.2);
      --wme-color-warning-alpha-30: rgba(251, 140, 0, 0.3);
      --wme-color-warning-alpha-40: rgba(251, 140, 0, 0.4);
      --wme-color-warning-alpha-50: rgba(251, 140, 0, 0.5);
      --wme-color-warning-alpha-60: rgba(251, 140, 0, 0.6);
      --wme-color-warning-alpha-70: rgba(251, 140, 0, 0.7);
      --wme-color-warning-alpha-80: rgba(251, 140, 0, 0.8);
      --wme-color-warning-alpha-90: rgba(251, 140, 0, 0.9);
      --wme-color-info-alpha-10: rgba(33, 150, 243, 0.1);
      --wme-color-info-alpha-20: rgba(33, 150, 243, 0.2);
      --wme-color-info-alpha-30: rgba(33, 150, 243, 0.3);
      --wme-color-info-alpha-40: rgba(33, 150, 243, 0.4);
      --wme-color-info-alpha-50: rgba(33, 150, 243, 0.5);
      --wme-color-info-alpha-60: rgba(33, 150, 243, 0.6);
      --wme-color-info-alpha-70: rgba(33, 150, 243, 0.7);
      --wme-color-info-alpha-80: rgba(33, 150, 243, 0.8);
      --wme-color-info-alpha-90: rgba(33, 150, 243, 0.9);
      --wme-color-background: var(--wme-color-primary-100);
      --wme-color-white: #000000;
      --wme-color-black: #ffffff;
      --wme-shadow: 0px 1.2px 5.3px rgba(0, 0, 0, 0.2), 0px 4px 17.9px rgba(0, 0, 0, 0.3), 0px 18px 80px rgba(0, 0, 0, 0.4);
  }